.memberCard {
    padding: 5px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    // color: black;
    transition: all 0.5s ease-in-out;
    &:hover {
        border-color: green;
    }
    &__name {
        color: black;
    }
    &__title {
        color: gray;
        font-size: 0.75em;
    }
}
